<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ian.mobileoa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="presentation.index.IndexActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="presentation.customer.CustomerListActivity"
            android:label="@string/title_activity_customer_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="presentation.opportunity.OpportunityListActivity"
            android:label="@string/title_activity_opportunity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="presentation.contract.ContractListActivity"
            android:label="@string/title_activity_contract_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="presentation.business.BussinessIndexActivity"
            android:label="@string/title_activity_bussiness_index"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="presentation.product.ProductListActivity"
            android:label="@string/title_activity_product_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="presentation.contact.ContactListActivity"
            android:label="@string/title_activity_contact_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ListItemTestActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="presentation.customer.CustomerDetailActivity"
            android:label="@string/title_activity_customer_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="presentation.contact.ContactDetailActivity"
            android:label="@string/title_activity_contact_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="presentation.index.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name="presentation.index.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name="presentation.opportunity.OppoDetailActivity"
            android:label="@string/title_activity_oppo_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="presentation.customer.CustomerCreateActivity"
            android:label="@string/title_activity_customer_create"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="presentation.opportunity.OppoCreateActivity"
            android:label="@string/title_activity_oppo_create"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="presentation.keepup.KeepupCreateActivity"
            android:label="@string/title_activity_keepup_create"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="presentation.contract.ContractCreateActivity"
            android:label="@string/title_activity_contract_create"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="presentation.contract.ContractDetailActivity"
            android:label="@string/title_activity_contract_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
